{
  "presets": [
    [
      "@babel/env",
      {
        "debug": true,
        "modules": false,
        "targets": ["last 2 chrome versions"]
      }
    ],
    "@babel/react"
  ],
  "plugins": ["@babel/proposal-class-properties"]
}
